$brand-primary: #fe0000;
$brand-secondary: #fff;

html {
    scroll-behavior: smooth;
}


body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    height:100vh;
    position: relative;
}



.video-background {

    position: relative;
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.9;

        &.white {
            background-color: white;
            opacity: 0.7;
        }
    }

    video {
        position: relative;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        z-index:-1;
    }
}
header {
    .intro {
        z-index: 2;
        position: absolute;
    }
    
    .video-background .overlay {
        opacity:0.4;
    }


    .navbar.navbar-hvrc {
        background-color: rgba(0,0,0,0.7);
        font-weight: bold;
        padding-top:0;
        padding-bottom:0;
        border-top: 5px solid rgba(254, 0, 0, 0.0);
        border-bottom: 5px solid rgba(254, 0, 0, 0.0);
    
        .nav-item a {
            color:white;
            font-size: 1.3rem;
            padding: 30px 20px;
            transition: background-color 0.1s, padding 0.3s;
    
            &.active {
                background: rgba($brand-primary, 0.5);
            }

            &:hover, &:active, &:focus {
                background: $brand-primary;
            }
        }
    
    
        .logo {
            height: 0;
            transition: all 0.5s;
            width:300px;
            visibility:visible;

            img {
                padding:20px;
                transition: all 0.5s;
                width: 100%;
            }
        }

        &.is-sticky {
            background-color: rgba(0,0,0,0.9);
            position: fixed;
            top: 20px;
            border-top: 5px solid rgba(254, 0, 0, 0.5);
            border-bottom: 5px solid rgba(254, 0, 0, 0.5);
            z-index:99999;
        

            transition: all 0.5s;

            .logo img {
                    width: 115px;
                    padding: 0;
                }
            }

            &.hidden {
                top:-100%;
                visibility:hidden;
            }
        }
    }

.angled-transition {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    background: $brand-primary;
    position: relative;
    margin-top: -15vh;

    .section {
        clip-path: polygon(0 0.5%, 100% 10.5%, 100% 100%, 0% 100%);
    }

}

.angled-transition.angle-left {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    .section {
        clip-path: polygon(0 10.5%, 100% 0.5%, 100% 100%, 0% 100%);
    }
}

.content {
    z-index: 2;
    position: absolute;
}

.hover-scale {
    transform: scale(1);
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

h1 {
    color:white;
    font-size:2rem;
    font-weight:bold;
}

h2 {
    font-size: 7rem;
    font-weight:bold;
    letter-spacing: -1px;
    margin-bottom: 0;
    line-height: 1.1;
}

h4 {
    font-size: 2rem;
    font-weight:bold;
    letter-spacing: -1px;
}

.text-brand {
    color: $brand-primary;
}

.text-brand-secondary {
    color: $brand-secondary;
}

.vh-125 {
    height: 125vh !important;
}